.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-container {
  max-width: 1197px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
