$primal-green-color: #a7c93d;
$definition-color: #444444;
$border-color: #a8ca3f;
$primal-orange-color: #ff6b00;
$primal-background-color: #f3f9ff;
$secondary-gray-color: #666666;
$third-gray-color: #333333;
$primal-yellow-color: #ffbf02;
$secondary-orange-color: #ea7845;
$button-color: #ffc002;
$secondary-green-color: #b1ca61;
$security-background-color: #eef2f7;
$outline-color: #becbd8;
