.background {
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;

  @media screen and (max-width: 1120px) {
    background-color: $primal-background-color;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1121px) {
    padding-bottom: 20px;
    background-image: url(../images/hero-bcg.jpg);
    max-width: 2560px;
    height: 839px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 935px) {
    display: block;
  }
}

.header-definition {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  margin-right: 88px;

  @media screen and (max-width: 1120px) {
    margin: 0 auto;
  }


  &__image {
    width: 81px;
    height: 56px;
  }
  &__heading {
    margin-left: 17px;
    color: black;
  }
}

.content-panel {
  display: flex;

  @media screen and (max-width: 935px) {
    display: flex;
  }

  @media screen and (max-width: 935px) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
  }

  &__item {
    display: flex;
    margin-right: 20px;

    @media screen and (min-width: 457px) and (max-width: 665px) {
      &:last-child {
        margin-top: 10px;
      }
    }

    @media screen and (max-width: 456px) {
      margin-top: 10px;
      &:first-child {
        margin-top: 0px;
      }
    }

    // @media screen and (min-width: 676px) and (max-width: 900px) {
    //   &:last-child {
    //     margin-left: 0;
    //     margin-top: 10px;
    //   }
    // }

    // @media screen and (max-width: 680px) {
    //   margin-left: 0;
    //   margin-top: 10px;
    //   &:first-child {
    //     margin-top: 0px;
    //   }
    // }

    // @media screen and (max-width: 900px) {
    //   margin-left: 0;
    //   margin-top: 10px;
    //   &:first-child {
    //     margin-right: 20px;
    //     margin-top: 0px;
    //   }
    //   &:last-child {
    //     margin-left: 20px;
    //   }
    // }

    &:last-child {
      margin-right: 0px;
    }
  }
  &__svg {
    width: 39px;
    height: 39px;
  }
  &__indent {
    margin-left: 13px;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    // font-weight: 00;
    line-height: normal;
    color: #666666;
  }
}
