// .hero {

// }

.description {
  padding-top: 45px;
  display: flex;

  @media screen and (max-width: 691px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1120px) {
    margin-left: 0;
    padding-bottom: 45px;
  }

  &__first {
    margin-right: 32px;
    margin-left: auto;
    width: 370px;
    @media screen and (max-width: 691px) {
      margin-right: 0;
    }

    @media screen and (max-width: 1120px) {
      margin-left: 0;
    }

    &-title {
      font-size: 44px;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 40px;
      @media screen and (max-width: 669px) {
        text-align: center;
      }
    }
  }

  &__second {
    width: 270px;
    // height: 540px;
    border: 7px solid $border-color;
    border-radius: 13px;
    background-color: #fff;

    // @media screen and (max-width: 691px) {
    //   margin-left: 0;
    // }

    &-title {
      padding-top: 39px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;

      &-orange {
        color: $primal-orange-color;
        font-weight: 600;
      }
    }
  }
  @media screen and (max-width: 1120px) {
    justify-content: space-evenly;
    align-items: center;
  }
}

.title__content {
  display: block;
  margin-top: 1;
  font-size: 34px;
  font-weight: 700;
  line-height: 1;

  &-first {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 5px;
      background-color: $primal-orange-color;
    }
  }

  &-second {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 5px;
      background-color: $primal-green-color;
    }
  }
}

.first__list {
  font-size: 20px;

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: center;
    margin-bottom: 35px;

    &:first-child::before {
      content: "";
      position: absolute;
      top: 71px;
      left: 19px;
      width: 49px;
      height: 100%;
      display: block;
      background: url(../images/arrow-top.png) 0 0 no-repeat;
    }

    &:nth-last-of-type(2)::before {
      content: "";
      position: absolute;
      top: 71px;
      left: 19px;
      width: 49px;
      height: 100%;
      display: block;
      background: url(../images/arrow-plus-minus.png) 0 0 no-repeat;
    }

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-right: 26px;

      width: 46px;
      height: 46px;
      border-radius: 50%;

      background-color: $primal-green-color;
      color: #fff;
      font-weight: 700;
      box-shadow: 0 0 0 7px #e8edc9;
    }

    &-big {
      color: black;
      font-weight: 700;
    }
  }

  &-definition {
    display: inline-block;
    color: $definition-color;
  }
}

.title-after {
  &-orange {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 3px;
      background-color: $primal-orange-color;
    }
  }
  &-green {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 3px;
      background-color: $primal-green-color;
    }
  }
}

.bordered-relative {
  position: relative;

  &-composition {
    position: absolute;
    top: 0;
    left: 65px;
    padding: 0px 8px 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 7px solid $border-color;
    border-right: 7px solid $border-color;
    border-bottom: 7px solid $border-color;
    // border-top: 1px solid $primal-background-color;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: $primal-background-color;

    & > img {
      margin-top: -2px;
    }
    &-free {
      margin-top: -2px;
      // padding-top: 1px;
      margin-left: 9px;
      font-size: 16px;
      color: $definition-color;
    }
  }
}

.second__list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 0px 10px 0px;

  text-align: center;

  &-item:first-child {
    position: relative;
    margin-right: 13px;
  }

  &-item-description {
    margin-bottom: 8px;
    font-weight: 500;
  }
}

.is-line {
  font-size: 14px;
}

.secondary-gray {
  color: $secondary-gray-color;
}

.max-font-weight {
  background-color: $primal-yellow-color;
  font-weight: 800;
  padding: 5px 6px;
  border-radius: 10px;
}

.price,
.price-first {
  font-size: 34px;
}

.price-first {
  &::after {
    content: "";
    position: absolute;
    outline: 1px solid $secondary-orange-color;
    width: 105%;
    top: 45px;
    left: -1px;
    transform: rotate(17deg);
  }
  &::before {
    content: "";
    position: absolute;
    outline: 1px solid $secondary-orange-color;
    width: 105%;
    top: 45px;
    left: -1px;
    transform: rotate(-17deg);
  }
}

.form {
  position: relative;
  &::before {
    content: "";
    position: absolute;

    top: -35px;
    right: -34px;
    display: block;
    width: 49px;
    height: 233px;
    z-index: 1;
    background: url(../images/arrow.png) 0 0 no-repeat;
  }
}

.form-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:last-child {
    margin-bottom: 15px;
  }

  &-label {
    position: relative;
    // margin-left: 18px;
    // margin-right: 18px;

    & > svg {
      position: absolute;
      top: 50%;
      left: 21px;
      width: 23px;
      height: 19px;
      transform: translateY(-50%);
    }

    & > span {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: $secondary-gray-color;
    }

    &-input {
      padding-left: 50px;
      width: 220px;
      height: 65px;
      border-radius: 28px;
      outline: none;
      border: none;
      background-color: #eef2f7;
    }

    &:focus-within > span,
    .form-item-label-input:not(:placeholder-shown) + span {
      transform: translate(-26px, -30px);
      font-size: 13px;
    }
  }
}

.form-button {
  padding-top: 10px;
}

.form-button-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: 218px;
  outline: none;
  border: none;
  border-radius: 28px;
  background-color: $button-color;
  font-size: 28px;
  font-weight: 700;
  line-height: 12px;
  cursor: pointer;

  & > span {
    font-size: 16px;
  }
}

.proposition {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 18px;
  color: $third-gray-color;
  text-align: center;

  & > span {
    color: $secondary-green-color;
  }
}

.protection {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $security-background-color;

  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  & p {
    margin-left: 13px;
    color: $secondary-gray-color;
  }
}

.information {
  padding-top: 27px;
  padding-bottom: 27px;

  &-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &-title {
    margin-bottom: 37px;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.001em;
  }

  &__description {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.001em;
  }
  &__content {
    padding: 44px 90px;
    text-align: center;
    border: 3px solid rgba(244, 211, 187, 0.8);
    border-radius: 8px;
    font-size: 22px;
    color: $definition-color;
    line-height: 28px;

    & > span {
      color: black;
      font-weight: 700;
    }
  }
  &__absolyte {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: -18px;
      left: 50%;

      transform: translate(-50%, 0);

      width: 170px;
      height: 37px;
      z-index: 3;
      background: url(../images/levels-layer.png) no-repeat center center;
      background-color: #fff;
    }
  }
}

.flex-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;

  &::after {
    position: absolute;
    content: "";
    top: 215px;
    left: 18px;
    width: 50px;
    outline: 3px solid $outline-color;
  }
}

.information__list {
  padding-bottom: 75px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1120px) {
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 690px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // justify-content: space-between;

  &-item {
    margin-top: 29px;
    margin-right: 60px;
    width: 320px;
    // width: calc(((100% - 70px * 2) - 30px) / 3);
    @media screen and (max-width: 1129px) {
      margin-right: 20px;
      //  width: calc(((100% - 20px * 2) - 30px) / 3);
    }

    // @media screen and (max-width: 1129px) {
    //   margin-top: 29px;
    //   &:first-child {
    //     margin-top: 0px;
    //   }
    // }

    @media screen and (max-width: 715px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:last-child {
      @media screen and (min-width: 716px) {
        margin-right: 0px;
      }
    }
    &-description-first {
      display: block;
      margin-left: 20px;
      // width: 142px;
      width: 100%;
      font-size: 22px;
      line-height: 26px;
      font-weight: 600;

      @media screen and (max-width: 350px) {
        margin-left: 10px;
      }
    }
    &-description-second {
      margin-left: 18px;
      width: 301px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.header-img-tablet {
  // display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 100%;
  padding: 20px;
  background-color: #fff;
  border: 3px solid $secondary-green-color;
  border-radius: 100px;

  @media screen and (min-width: 1121px) {
    display: none;
  }
}
